@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  position: fixed;
  height: 100vh;
  width: 4rem;
  background: #D8D8D8;
  overflow: hidden;
  transition: width .3s ease;
  top: 0;
  border-radius: 0px 30px 30px 0px;
  z-index: 9000000;
}

nav a {
  color:#354760;
  text-decoration: none;
  display: table;
  width: 10.5rem;
  border-radius: 20px;
}

nav:hover{
  width: 11rem;
}

.logo {
  width: 9.5rem;
  padding-left: 6px;
}

.menu:hover{
  color: black;
  font-weight: 900;
}

.video:hover{
  background-color: #354760;
  color: white;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.calificaciones:hover{
  background-color: #56BC8C;
  color: white;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ajustes{
  margin-top: 400px;
}

.ajustes:hover{
  background-color: #ff8e51;
  color: white;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a .fa-bars, .fa-film, .fa-clipboard, .fa-gear{
  width: 4rem;
  display: table-cell;
  font-size: 20px;
  padding: 1rem 0;
  text-align: center;
}

.label {
  display: table-cell;
}

h1{
    text-align: center;
    size: 2.813rem;
    margin-top: 3rem;
    color: #56BC8C;
    font-weight: 900 bold;
}

.fa-brands {
    position: absolute;
    color: red;
    font-size: 2.5rem;
    margin-left: -3.125rem;
    margin-top: 0.625rem;
    z-index: -1;
}

.form{
  text-align: center;
  padding: 1rem;
  margin: 1.25rem;
}

.fa-link{
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;
}

#url{
  width: 50%;
  margin-bottom: 50px;
  padding-left: 40px;
}

.form-container {
    display: flex;
    justify-content: flex-end;
    padding-left: 4rem;
    font-size: 1.24rem;
  }
  
  .form-group {
    flex-basis: 45%;
    text-align: start;
    box-sizing: border-box;
  }

  input[type=text], input[type=email], input[type=url],textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 18px;
    font-size: 1.125rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  textarea{
    resize: none;
  }

  p{
    text-align: right;
    padding-right: 80px;
    color: darkgray;
    font-size: medium;
  }

  input[type=reset], input[type=submit], button[type=button]{
    border-radius: 15px;
    font-size: 1.25rem;
    border: 1px solid #000;
    text-align: justify;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 7px 17px;
  }

.button-group{
  display: inline;
  float: right;
  margin-top: 20px;
  padding-right: 70px;
}
  #guardar {
    background-color: #56BC8C;
    cursor: pointer;
  }

  #cancelar{
    background-color: #354760;
    cursor: pointer;
  }
