@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

:root{
    --verde: #56BC8C;
    --white: #FFFFFF;
    --azul: #354760;
    --naranja: #FF8E51;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--verde);
    background-image: url(../img/Customer.png);
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
}

.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.logo{
    width: 20%;
    align-self: flex-end;
    padding-right: 60px;
}

.form{
   padding-left: 100px;
}

.titulo{
    color: var(--white);
}

.input-email{
    height: 35px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid var(--black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: var(--md);
    padding-left: 15px;
    font-weight: 300;
    margin-bottom: 30px;
}

label{
    margin-bottom: 30px;
}
  
.profesor{
    font-size: var(--lg);
    font-weight: 300;
}

.estudiante{
    font-size: var(--lg);
    font-weight: 300;
}

.profesor, .estudiante {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
  

  .profesor input[type="radio"], .estudiante input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-top: 3px;
  }

  .checkmark.one{
    margin-right: -18px;
  }
  
  .profesor input[type="radio"]:checked ~ 
  .checkmark:after, 
  .estudiante input[type="radio"]:checked ~ 
  .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--azul);
  }

  .profesor, .estudiante {
    position: relative;
    padding-right: 32px;
  }
  

  .profesor input[type="radio"]:checked ~ .checkmark, .estudiante input[type="radio"]:checked ~ .checkmark {
    border-color: var(--azul);
  }
  

.ingreso-button{
    font-size: var(--md);
    color: var(--white);
    width: 150px;
    height: 50px;
    background-color: var(--naranja);
    border: 3px solid var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 20px;
}

@media (max-width: 640px) {
    .logo{
        width: 40%;
        align-self: center;
        margin-left: 30px;
    }

    .input-email{
        width: 80%;
    }

    .ingreso-button{
        width: 30%;
        align-self: center;
        margin-left: 100px;
        font-size: var(--sm);
    }

    .form{
        padding-left: 50px;

    }

    .form-container{
        margin-top: 100px;
    }

    body{
        background-image: none;
    }
}