@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  position: fixed;
  height: 100vh;
  width: 4rem;
  background: #D8D8D8;
  overflow: hidden;
  transition: width .3s ease;
  top: 0;
}
img {
  padding: 1px 1px;
}
nav:hover, nav.pinned, img{
  width: 10rem;
}

nav .icon-bar img {
  display: block;
  width: 18px;
  height: 2px;
  margin-top: 5px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
nav a {
  color: #354760;
  text-decoration: none;
  display: table;
  width: 10rem;
}
nav a:hover {
  background: #C8C3C3;
  color: #354760;
}
nav a .fa {
  width: 4rem;
  display: table-cell;
  font-size: 20px;
  padding: 1rem 0;
  text-align: center;
}
nav a.label {
  display: table-cell;
}

h1{
    text-align: center;
    size: 50px;
    margin-top: 2rem;
    color: #56BC8C;
}

.fa-brands {
    color: red;
    font-size: 50px;
}

.form{
    text-align: center;
    padding: 1rem;
    margin: 20px;
}
      

.form-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 3rem;
  }
  
  .form-group {
    flex-basis: 45%;
  }

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #354760;
    border-radius: 18px;
  }

  textarea{
    resize: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #354760;
    border-radius: 12px;
  }

    #cargarvideo{
    background-color: #ff8e51;
    border-radius: 10px;
    font-size: 18px;
    border: #354760 2px solid;
    color: white;
    text-align: justify;
    padding: 6px 15px;
  }

  #guardar{
    background-color: #56BC8C;
    border-radius: 18px;
    font-size: 15px;
    border: none;
    color: white;
    text-align: justify;
    padding: 5px 20px;
    margin-bottom: 0.5rem;
  }

  #cancelar{
    background-color: #354760;
    border-radius: 18px;
    font-size: 15px;
    border: none;
    color: white;
    text-align: justify;
    padding: 5px 20px;
  }